.mask{
  background-color: rgba(0,0,0,.3);
  border: 3px solid transparent;
  @include media-breakpoint-up(lg) {
    transition: .3s;
    &:hover{
      color: $warning;
      border: 2px solid $warning;
    }
  }
}