header{
  .navbar{
    background-color:rgba(250, 250, 250, 0.85);
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
  }

  .nav-link{
    transition: .25s;
    &:hover{
      background: rgb(28, 154, 145);
      color: white !important;
    }
  }
}
.img-fit{
  object-fit: cover;
  object-position: center 70%;
}

.carousel-caption{
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 6rem;
  padding-top: 2rem;
}

.bg-dark-gradient {
  background-image: linear-gradient(180deg,rgba(0, 0, 0, 0),rgba(20, 20, 20, .5),rgba(5, 5, 5, .9));
}
.bg-red-opacity{
  background: #ad0d05c5;
}

.mask{
  background-color: rgba(0,0,0,.3);
  @include media-breakpoint-up(lg) {
    opacity: 0;
    transition: .4s;
    &:hover{
      opacity: 1;
    }
  }
}
.bg-green-opacity {
  background-color: rgba(6, 128, 83, 0.7);
}
.service-card{
  border-radius: 5%;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, .12) ;
  border: 5px solid transparent;
  transform: translateY(0);
  transition: .5s;
  &:hover{
    transform: translateY(-20px);
  }
}
// product.html---------------


// --------------------
.banner{
  margin-top: 56px;
}
// --------------------
.reveal{
  opacity:0;
  transform:translateY(150px);
  transition: 1.5s ease;
}
.show-section{
  opacity:1;
  transform:translateY(0);
}
.footer-bg{
  background: rgb(57, 74, 66);
}

.gotop-btn{
  opacity: 0;
  transition: .5s;
  color: $warning;
  &:hover{
    color: $info;
  }
}