header{
  position: relative;
  .navbar{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    background-color:rgba(250, 250, 250, 0.85);
  }

  .nav-link{
    transition: .25s;
    &:hover{
      background: rgb(28, 154, 145);
      color: white !important;
    }
  }
}
.img-fit{
  object-fit: cover;
  object-position: center 70%;
}

.carousel-caption{
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 4rem;
  padding-top: 2rem;
}

.bg-dark-gradient {
  background-image: linear-gradient(180deg,rgba(0, 0, 0, 0),rgba(20, 20, 20, .5),rgba(5, 5, 5, .9));
}

.mask{
  background-color: rgba(0,0,0,.3);
  opacity: 0;
  transition: .4s;
  &:hover{
    opacity: 1;
  }
}


.footer-bg{
  // background: rgb(77, 126, 103);
  background: rgb(57, 74, 66);
}